/* Setting a background image that covers all except appBody */
body {
  font-family: sans-serif;
  background-image: url("https://images.pexels.com/photos/36753/flower-purple-lical-blosso.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}
h2,
h6,
li {
  color: #878787;
}

h2 {
  font-weight: 600;
}
.intro {
  text-align: center;
  padding: 30px;
  height: 30%;
}
.brief {
  text-align: left;
  color: cornsilk;
}
.container {
  padding: 0 50px 25px 50px;
}
.heading {
  text-align: center;
  font-weight: bolder;
  color: cornsilk;
}
.appBody {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 18px;
  border: 1px solid rgb(253, 239, 132);
  border-radius: 5px;
  background-color: white;
}
.one {
  left: 0;
  width: 18%;
  font-weight: bold;
}
.two {
  width: 80%;
}
ul.day-desc {
  list-style-type: none;
  padding: 0;
}
.tempmain {
  display: flex;
}
.tempmain .active {
  color: black;
  cursor: default;
}
.num {
  position: relative;
  top: 15px;
  font-size: 2.5em;
}
.units {
  position: relative;
  top: -5px;
}
.units a {
  text-decoration: none;
}
ul.tempdetail {
  list-style-type: none;
  padding: 0;
}
.display {
  padding: 20px 10px 5px 10px;
}
.col-sm-8 {
  padding-right: 0;
}

.daytemp {
  text-align: center;
}
.secondary-temp {
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
}

footer {
  padding-top: 5px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: cornsilk;
}
